var new_comment = jQuery("<%= escape_javascript(render(:partial => @comment))%>").hide();
jQuery("#comments").prepend(new_comment);
jQuery("#comment_<%= @comment.id%>").fadeIn("slow");
jQuery("#new_comment")[0].reset();
